{% extends 'base.html.twig' %}

{% block body %}
    {% include 'includes/nav/student_nav.html.twig' %}

    <div class="student-body container">
        {% block studentbody %}{% endblock %}
    </div>
{% endblock %}
