{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Редактирование преподавателя</h1>

    {{ include('admin/adminbody/admin_teacher/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('teacher_index') }}">Вернуться к списку</a>

    {{ include('admin/adminbody/admin_teacher/_delete_form.html.twig') }}
{% endblock %}
