{% extends 'base.html.twig' %}

{% block body %}
<div class="login-wrapper container">
    <div class="login-header">Авторизация</div>
    <div class="login-form">
        {% include '/security/login.html.twig' %}
    </div>
</div>
{% endblock %}
