{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Қолданушыны өңдеу</h1>

    {{ include('admin/adminbody/admin_user/_form.html.twig', {'button_label': 'Жаңарту'}) }}

    <a href="{{ path('admin_user_index') }}">Кері қайту</a>

    {{ include('admin/adminbody/admin_user/_delete_form.html.twig') }}
{% endblock %}
