{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Қолданушыны құру</h1>

    {{ include('admin/adminbody/admin_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Кері қайту</a>
{% endblock %}
