<footer class="container">
    <div class="footer-title">
        КГУ "СОШ №82" сайты
        <div class="info-block">
            <div class="service-info">
                <a href="{{ path('service') }}">Сервис</a>
            </div>
            <div class="author-info">
                <a href="{{ path('author') }}">Автор</a>
            </div>
        </div>
    </div>
</footer>