<header class="container">
    <div class="top-header">
        <h6>КММ "№82 Жалпы орта білім беру мектебі"</h6>
        <a href="#"><img src="/icons/kz.png" alt="Kaz"></a>
    </div>
    <div class="bot-header">
        <a href="{{ path('default') }}">
            <h3>School82</h3>
        </a>
        {% if app.user %}
            <div class="logout-btn">
                <a href="{{ path('app_logout') }}">Шығу</a>
            </div>
        {% endif %}
    </div>
</header>
