<header class="container">
    <div class="top-header">
        <h6>КГУ "Средняя общеобразовательная школа №82"</h6>
        <a href="#"><img src="/icons/kz.png" alt="Kaz"></a>
        <a href="#"><img src="/icons/ru.png" alt="Rus"></a>
        <a href="#"><img src="/icons/en.png" alt="Eng"></a>
    </div>
    <div class="bot-header">
        <h3>School82</h3>
    </div>
</header>
