<div class="container">
    <nav>
        <div class="nav-item"><a href="">Анкетирование</a></div>
        <div class="nav-item"><a href="">Преподаватели</a></div>
        <div class="nav-item"><a href="">Ученики</a></div>
        <div class="nav-item"><a href="">Успеваемость</a></div>
    </nav>
</div>