<div class="container">
    <nav>
        <div class="nav-item"><a href="{{ path('student') }}">Жеке мәлімет</a></div>
        <div class="nav-item"><a href="{{ path('student_schedule_index') }}">Сабақ кестесі</a></div>
        <div class="nav-item"><a href="{{ path('student_progress') }}">Сабақ үлгерімі</a></div>
    </nav>
</div>