<div class="container">
    <nav>
        <div class="nav-item"><a href="{{ path('teacher') }}">Жеке мәлімет</a></div>
        <div class="nav-item"><a href="{{ path('teacher_progress_groups') }}">Үлгерімдер</a></div>
        <div class="nav-item"><a href="{{ path('teacher_shedule_groups') }}">Сабақ кестесі</a></div>
    </nav>
</div>