{% extends 'admin/admin_body.html.twig' %}

{% block adminbody %}
    <h1>Бағаларды өңдеу</h1>
        {{ form(form) }}
    <a href="{{ path('admin_student_progress', {'id': id}) }}">Кері қайту</a>
{% endblock %}
