{% extends 'teacher/teacher_body.html.twig' %}

{% block teacherbody %}
    <h1>Бағаларды өңдеу</h1>
        {{ form(form) }}
    <a href="{{ path('teacher_student_progress', {'id': id}) }}">Кері қайту</a>
{% endblock %}
